*/.terraform
*/.terraform.lock.hcl
*/.terraform.tfstate.lock.info
*/terraform.tfstate
*/terraform.tfstate.backup
*/id_rsa
*/id_rsa.pub
*/prerequisites/.terraform
*/prerequisites/.terraform.lock.hcl
*/prerequisites/.terraform.tfstate.lock.info
*/prerequisites/terraform.tfstate
*/prerequisites/terraform.tfstate.backup
*/prerequisites/id_rsa
*/prerequisites/id_rsa.pub
*/init.txt
*.crt
*.pem
