*/.terraform
*/.terraform.lock.hcl
*/.terraform.tfstate.lock.info
*/terraform.tfstate
*/terraform.tfstate.backup
*/id_rsa
*/id_rsa.pub
*/tls
*/user_data_bastion.sh
*/user_data_vault.sh
*/init.txt
*/bastion_user_data.sh
